<div class="row botton-separate">
  <div class="col-md-12 ">
    <div class="d-flex justify-content-between">
      <button class="btn btn-outline-danger btn-md" (click)="volver()">
        <span class="oi oi-arrow-left"></span> Atras</button> &nbsp;
      <button class="btn btn-outline-secondary btn-md" (click)="editarAmbiente(id)">
        <span class="oi oi-pencil"></span> Editar</button> &nbsp;
      <button class="btn btn-outline-secondary btn-md" (click)="agregarOferta(id)">
          <span class="oi oi-briefcase" aria-hidden="true"></span> Listas de ofertas
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 ">
    <div class="card">
      <div class="card-body">
        <datos-ambiente-trabajo-vista [ambiente]='ambiente'></datos-ambiente-trabajo-vista>

        <div class="d-flex justify-content-between">
            <div class="col-5 pt-1">
                <hr>
            </div>
            <div class="col-2">
              <h3 class="text-center">
                <small class="text-muted">Oferta/s</small>
              </h3>
            </div>
            <div class="col-5 pt-1">
              <hr>
            </div>
        </div>
        <lista-oferta *ngIf="(listaOfertas.length != 0)" [listaOfertas]="listaOfertas" [mostrarEdicion]="0"></lista-oferta>
        <div *ngIf="(listaOfertas.length == 0)" class="d-flex justify-content-center alert alert-danger">
            Sin ofertas.
        </div>
      </div>
    </div>
  </div>
</div>
