<div class="row">
  <div class="col-md-4">
      <auto-completar [listado]="listaOficios" [titulo]="'Seleccionar oficio/s'"
                      [placeHolder]="'Seleccione un oficio'" [nombreValor]="getNombreListadoPorId(setOficioid, listaOficios)" (seleccionaValor)="getOficio($event)"></auto-completar>
  </div>
  <div class="col-md-8 pt-3">
    <ul *ngIf="(oficiosSeleccionados.length > 0)" class="list-inline">
      <li class="border-left border-info shadow list-inline-item p-2 m-2 rounded" *ngFor="let oficio of oficiosSeleccionados">
        <strong class="">{{oficio.nombre}}</strong>
        <button class="close ml-2"><span aria-hidden="true">&times;</span></button>
      </li>
    </ul>

    <!-- <div *ngFor="let oficio of oficiosSeleccionados" style="width: 100px;" class="shadow p-2 bg-primary rounded" >
        <strong>{{oficio.nombre}}</strong>
    </div> -->


    <!-- <div *ngFor="let oficio of oficiosSeleccionados" class="alert alert-warning alert-dismissible">
        <strong>{{oficio.nombre}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
  </div>
</div>
