<div class="row botton-separate">
    <div class="col-md-12">
        <button class="btn btn-primary btn-md" (click)="volver()">
            <span class="oi oi-arrow-left"></span> Atras</button> &nbsp;
        <button class="btn btn-success btn-md" (click)="editar();">
            <span class="oi oi-pencil"></span> Editar</button>
    </div>
</div>
<div class="row" >
    <div class="col-md-12">
        <ngb-accordion #acc="ngbAccordion" activeIds="toggle-1, toggle-2">
            <ngb-panel id="toggle-1" title="Datos personales">
                <ng-template ngbPanelContent>
                    <dl class="row">
                        <dt class="col-5 col-sm-3 col-md-3 col-lg-2">Nro. Documento:</dt>
                        <dd class="col-5 col-sm-3 col-md-3 col-lg-2">{{destinatario.persona.nro_documento}}</dd>
                        <dt class="col-5 col-sm-3 col-md-3 col-lg-2">Cuil:</dt>
                        <dd class="col-5 col-sm-3 col-md-3 col-lg-2">{{destinatario.persona.cuil}}</dd>
                        <dt class="col-5 col-sm-3 col-md-3 col-lg-2">Apellido y nombre:</dt>
                        <dd class="col-5 col-sm-3 col-md-3 col-lg-2">{{destinatario.persona.apellido}}, {{destinatario.persona.nombre}}</dd>
                        <dt class="col-5 col-sm-3 col-md-3 col-lg-2">Fecha nacimiento:</dt>
                        <dd class="col-5 col-sm-3 col-md-3 col-lg-2">{{destinatario.persona.fecha_nacimiento | date:'dd/MM/yyyy'}}</dd>
                        <dt class="col-5 col-sm-3 col-md-3 col-lg-2">Sexo:</dt>
                        <dd class="col-5 col-sm-3 col-md-3 col-lg-2">{{destinatario.persona.sexoid}}</dd>
                        <dt class="col-5 col-sm-3 col-md-3 col-lg-2">Género:</dt>
                        <dd class="col-5 col-sm-3 col-md-3 col-lg-2">{{destinatario.persona.generoid}}</dd>
                        <dt class="col-5 col-sm-3 col-md-3 col-lg-2">Estado civil:</dt>
                        <dd class="col-5 col-sm-3 col-md-3 col-lg-2">{{destinatario.persona.estado_civilid}}</dd>
                        <dt class="col-5 col-sm-3 col-md-3 col-lg-2">Teléfono:</dt>
                        <dd class="col-5 col-sm-3 col-md-3 col-lg-2">{{destinatario.persona.telefono}}</dd>
                        <dt class="col-5 col-sm-3 col-md-3 col-lg-2">Celular:</dt>
                        <dd class="col-5 col-sm-3 col-md-3 col-lg-2">{{destinatario.persona.celular}}</dd>
                        <dt class="col-5 col-sm-3 col-md-3 col-lg-2">Email:</dt>
                        <dd class="col-5 col-sm-3 col-md-3 col-lg-2">{{destinatario.persona.email}}</dd>
                    </dl>
                    <hr class="mb-4">
                    <dl class="row">
                        <dt class="col-5 col-sm-3 col-md-3 col-lg-2">Localidad:</dt>
                        <dd class="col-5 col-sm-3 col-md-3 col-lg-2">{{destinatario.persona.lugar.localidadid}}</dd>
                        <dt class="col-5 col-sm-3 col-md-3 col-lg-2">Dirección:</dt>
                        <dd class="col-5 col-sm-3 col-md-3 col-lg-2">{{destinatario.persona.lugar.calle}} {{destinatario.persona.altura}}</dd>
                        <dt class="col-5 col-sm-3 col-md-3 col-lg-2">Barrio:</dt>
                        <dd class="col-5 col-sm-3 col-md-3 col-lg-2">{{destinatario.persona.lugar.barrio}}</dd>
                    </dl>
                    <hr class="mb-4">
                    <dl class="row">
                        <dt class="col-5 col-sm-3 col-md-3 col-lg-2">Nivel educativo:</dt>
                        <dd class="col-5 col-sm-3 col-md-3 col-lg-2">Secundario (completo)</dd>
                        <dt class="col-5 col-sm-3 col-md-3 col-lg-2">Título:</dt>
                        <dd class="col-5 col-sm-3 col-md-3 col-lg-2">Bachiller empresarial</dd>
                    </dl>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-2" title="Datos destinatario">
                <ng-template ngbPanelContent>
                    <dl class="row">
                        <dt class="col-8 col-sm-6 col-md-3 col-lg-3">Fecha presentación:</dt>
                        <dd class="col-4 col-sm-6 col-md-2 col-lg-3">{{destinatario.destinatario.fecha_presentacion | date:'dd/MM/yyyy'}}</dd>
                        <dt class="col-8 col-sm-6 col-md-3 col-lg-3">Experiencia laboral:</dt>
                        <dd class="col-4 col-sm-6 col-md-2 col-lg-3">{{(destinatario.destinatario.experiencia_laboral)?'si':'no'}}</dd>
                    </dl>
                    <hr class="mb-4">
                    <dl class="row">
                        <dt class="col">Actividad en la que se desea formación:</dt>
                        <dd class="col">{{destinatario.destinatario.deseo_actividad}}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col">Lugar donde se pretende adquirir entrenamiento:</dt>
                        <dd class="col">{{destinatario.destinatario.deseo_lugar_entrenamiento}}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-8">Conocimientos basicos sobre la actividad que desea recibir formación y entrenamiento:</dt>
                        <dd class="col-4">{{destinatario.destinatario.conocimientos_basicos}}</dd>
                    </dl>
                    <hr class="mb-4">
                    <dl class="row">
                        <dt class="col-5 col-sm-6 col-md-3 col-lg-3">Profesión:</dt>
                        <dd class="col-7 col-sm-6 col-md-3 col-lg-3">{{destinatario.profesion}}</dd>
                        <dt class="col-5 col-sm-6 col-md-3 col-lg-3">Oficio:</dt>
                        <dd class="col-7 col-sm-6 col-md-3 col-lg-3">{{destinatario.destinatario.oficio}}</dd>
                    </dl>
                    <hr class="mb-4">
                    <dl class="row">
                        <dt class="col-sm-6">Organismo donde se presento documentación de inscripción al PRIL:</dt>
                        <dd class="col-sm-6">{{destinatario.destinatario.origen}}</dd>
                    </dl>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>