<div class="row">
    <div class="form-group col-md-4">
        <label for="nro_documento">Nro. documento (<span>*</span>):</label>
        <input type="text" id="nro_documento" class="form-control">
    </div>
    <div class="form-group col-md-4">
        <label for="form-agente-cuil">Cuil (<span>*</span>):</label>
        <div class="input-group">
            <input class="form-control input-cuil-number" type="text" placeholder="##">
            <div class="input-group-addon div-cuil-num-center">numero</div>
            <input class="form-control input-cuil-number" type="text" placeholder="#">
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-4">
        <label for="apellido">Apellido (<span>*</span>):</label>
        <input type="text" id="apellido" placeholder="Apellido" class="form-control">
    </div>
    <div class="form-group col-md-4">
        <label for="nombre">Nombre (<span>*</span>):</label>
        <input type="text" id="nombre" placeholder="Nombre" class="form-control">
    </div>
    <div class="form-group col-md-4">
        <label for="fecha_nacimiento">Fecha de nacimiento (<span>*</span>):</label>
        <input type="text" id="fecha_nacimiento" placeholder="dd/mm/yyyy" class="form-control">
    </div>
    <div class="form-group col-md-4">
        <label for="sexo">Sexo (<span>*</span>):</label>
        <select class="form-control" id="sexo">
            <option value="0">Seleccione Sexo</option>
            <option value="1">Hombre</option>
            <option value="2">Mujer</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="genero">Género (<span>*</span>):</label>
        <select class="form-control" id="genero">
            <option value="0">Seleccione Género</option>
            <option value="1">Femenino</option>
            <option value="2">Masculino</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="estado_civil">Estado civil (<span>*</span>):</label>
        <select class="form-control" id="estado_civil">
            <option value="0">Seleccione Estado civil</option>
            <option value="1">Soltero</option>
            <option value="2">Casado/a</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" placeholder="Ej.: (2920) 43 2423" class="form-control">
    </div>
    <div class="form-group col-md-4">
        <label for="celular">Celular:</label>
        <input type="text" id="celular" placeholder="Ej.: (2920) 43 2423" class="form-control">
    </div>
    <div class="form-group col-md-4">
        <label for="email">Email (<span>*</span>):</label>
        <input type="text" id="email" placeholder="Ej.: nombre@mail.com.ar" class="form-control">
    </div>
</div>
<hr class="my-4">
<div class="row">
    <div class="form-group col-md-4">
        <label for="localidad">Localidad (<span>*</span>):</label>
        <select class="form-control" id="localidad">
            <option value="0">Seleccione Localidad</option>
            <option value="1">Gral. Roca</option>
            <option value="2">Viedma/option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="calle">Calle (<span>*</span>):</label>
        <input type="text" id="calle" placeholder="calle" class="form-control">
    </div>
    <div class="form-group col-md-4">
        <label for="altura">Altura (<span>*</span>):</label>
        <input type="text" id="altura" placeholder="altura" class="form-control">
    </div>
    <div class="form-group col-md-4">
        <label for="barrio">Barrio (<span>*</span>):</label>
        <input type="text" id="barrio" placeholder="barrio" class="form-control">
    </div>
    <div class="form-group col-md-4">
        <label for="piso">Piso (<span>*</span>):</label>
        <input type="text" id="piso" placeholder="piso" class="form-control">
    </div>
    <div class="form-group col-md-4">
        <label for="departamento">Departamento (<span>*</span>):</label>
        <input type="text" id="departamento" placeholder="departamento" class="form-control">
    </div>
</div>
<hr class="my-4">
<div class="row">
    <div class="form-group col-md-6">
        <label for="nivel_educativo">Nivel educativo (<span>*</span>):</label>
        <select class="form-control" id="nivel_educativo">
            <option value="0">Seleccione Nivel educativo</option>
            <option value="1">Primario</option>
            <option value="2">Secundaria</option>
        </select>
    </div>
    <div class="form-group form-check col-md-3">
        <input type="checkbox" id="estudio_completo" class="form-check-input">
        <label class="form-check-label" for="estudio_completo">Completo</label>
    </div>
    <div class="form-group form-check col-md-3">
        <input type="checkbox" id="estudio_en_curso" class="form-check-input">
        <label class="form-check-label" for="estudio_en_curso">En curso</label>
    </div>
    <div class="form-group col-md-12">
        <label for="titulo">Título (<span>*</span>):</label>
        <input type="text" id="titulo" placeholder="titulo" class="form-control">
    </div>
</div>