.div-cuil-num-center {
  width: 70% !important;
  height: 40px !important;
  padding: 3% !important;
  text-align: center !important;
  background: #eee;
}
.input-cuil-number {
  max-width: 30% !important;
}

label > span {
    font-size: 18px;
    color:red;
    font-weight: 700;
}

.form-check {
    margin-top: 3.1%;
    text-align: center;
}