<fieldset [formGroup]="datosPersona" >
    <div class="row">
        <div class="form-group col-md-4">
            <label for="nro_documento">Nro. documento (<span>*</span>):</label>
            <div class="input-group">
                <input type="text" id="nro_documento" class="form-control" formControlName="nro_documento" minlength="7" maxlength="8" placeholder="Ej.: 23123987"
                (keyup)="esNumero($event.target)" (change)="[validarCuil($event.target.value), validarPersonaPorNroDocumento($event.target.value)]"  [ngClass]="{'is-invalid': (persona.nro_documento.invalid && submitted)}">
            </div>
            <div *ngIf="(persona.nro_documento.invalid && submitted)" class="text-danger">
                <div *ngIf="persona.nro_documento.errors.required">Este campo es requerido. </div>
                <div *ngIf="persona.nro_documento.errors.minlength">El número de documento debe tener al menos 7 digitos.</div>
                <div *ngIf="persona.nro_documento.errors.maxlength">El número de documento no puede tener mas de 8 digitos.</div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="form-agente-cuil">Cuil (<span>*</span>):</label>
            <div class="input-group">
                <input class="form-control input-cuil-number" type="text" placeholder="##" formControlName="cuil_prin" maxlength="2"
                 (change)="armarCuil()" (keyup)="esNumero($event.target)" [ngClass]="{'is-invalid': (persona.cuil_prin.invalid && submitted)}">
                <div class="input-group-addon div-cuil-num-center">{{(setDocumento != '')?setDocumento:cuil_medio}}</div>
                <input class="form-control input-cuil-number" type="text" placeholder="#" formControlName="cuil_ult" maxlength="1"
                (change)="armarCuil()" (keyup)="esNumero($event.target)" [ngClass]="{'is-invalid': (persona.cuil_ult.invalid && submitted)}">
                <div *ngIf="(persona.cuil_prin.invalid && submitted)" class="text-danger">
                    <div *ngIf="persona.cuil_prin.errors.required">Este campo es requerido. </div>
                </div>
                <div *ngIf="(!persona.cuil_prin.invalid && persona.cuil_ult.invalid && submitted)" class="text-danger">
                    <div *ngIf="persona.cuil_ult.errors.required">Este campo es requerido. </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="apellido">Apellido (<span>*</span>):</label>
            <input type="text" id="apellido" placeholder="Apellido" class="form-control" formControlName="apellido" [ngClass]="{'is-invalid': (persona.apellido.invalid && submitted)}">
            <div *ngIf="(persona.apellido.invalid && submitted)"
                class="text-danger">
                <div *ngIf="persona.apellido.errors.required">Este campo es requerido. </div>
                <div *ngIf="persona.apellido.errors.minlength">El apellido es muy corto.</div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="nombre">Nombre (<span>*</span>):</label>
            <input type="text" id="nombre" placeholder="Nombre" class="form-control" formControlName="nombre" [ngClass]="{'is-invalid': (persona.nombre.invalid && submitted)}">
            <div *ngIf="(persona.nombre.invalid && submitted)"
                class="text-danger">
                <div *ngIf="persona.nombre.errors.required">Este campo es requerido. </div>
                <div *ngIf="persona.nombre.errors.minlength">El nombre es muy corto.</div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="fecha_nacimiento">Fecha nacimiento (<span>*</span>):</label>
            <div class="input-group">
                <input class="form-control" #c1 placeholder="dd/mm/yyyy" ngbDatepicker #fpd="ngbDatepicker" id="fecha_nacimiento" formControlName="fechaNacimiento" (ngModelChange)="formatFechaNacimiento($event)">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" (click)="fpd.toggle()" type="button" 
                        [ngClass]="{'btn-outline-danger': (persona.fechaNacimiento.invalid && submitted), 'is-invalid': (persona.fechaNacimiento.invalid && submitted)}">
                        <span class="oi oi-calendar" title="Dirección" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div *ngIf="(persona.fechaNacimiento.invalid && submitted)" class="text-danger">
                <div *ngIf="persona.fechaNacimiento.errors.required">Este campo es requerido. </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="sexo">Sexo (<span>*</span>):</label>
            <select class="form-control" id="sexo" formControlName="sexoid" [ngClass]="{'is-invalid': (persona.sexoid.invalid && submitted)}">
                <option value="">Seleccione Sexo</option>
                <option *ngFor="let sexo of sexoLista" value="{{sexo.id}}">{{sexo.nombre}}</option>
            </select>
            <div *ngIf="(persona.sexoid.invalid && submitted)" class="text-danger">
                <div *ngIf="persona.sexoid.errors.required">Por favor Seleccione sexo. </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="genero">Género (<span>*</span>):</label>
            <select class="form-control" id="genero" formControlName="generoid" [ngClass]="{'is-invalid': (persona.generoid.invalid && submitted)}">
                <option value="">Seleccione Género</option>
                <option *ngFor="let genero of generoLista" value="{{genero.id}}">{{genero.nombre}}</option>
            </select>
            <div *ngIf="(persona.generoid.invalid && submitted)"
                class="text-danger">
                <div *ngIf="persona.generoid.errors.required">Por favor Seleccione género. </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="estado_civil">Estado civil (<span>*</span>):</label>
            <select class="form-control" id="estado_civil" formControlName="estado_civilid" [ngClass]="{'is-invalid': (persona.estado_civilid.invalid && submitted)}">
                <option value="">Seleccione Estado civil</option>
                <option *ngFor="let estadoCivil of estadoCivilLista" value="{{estadoCivil.id}}">{{estadoCivil.nombre}}</option>
            </select>
            <div *ngIf="(persona.estado_civilid.invalid && submitted)"
                class="text-danger">
                <div *ngIf="persona.estado_civilid.errors.required">Por favor Seleccione estado civil. </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" placeholder="Ej.: (2920) 43 2423" class="form-control" formControlName="telefono">
        </div>
        <div class="form-group col-md-4">
            <label for="celular">Celular:</label>
            <input type="text" id="celular" placeholder="Ej.: (2920) 43 2423" class="form-control" formControlName="celular">
        </div>
        <div class="form-group col-md-4">
            <label for="email">Email (<span>*</span>):</label>
            <input type="email" id="email" placeholder="Ej.: nombre@mail.com.ar" class="form-control" formControlName="email" [ngClass]="{'is-invalid': (persona.email.invalid && submitted)}">
            <div *ngIf="(persona.email.invalid && submitted)" class="text-danger">
                <div *ngIf="persona.email.errors.required">Este campo es requerido. </div>
                <div *ngIf="persona.email.errors.pattern">El email es invalido.</div>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <lugar-form [group]="datosPersona.controls.lugar" [submitted]="submitted"></lugar-form>
</fieldset>