<fieldset class="my-2">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nivel educativo</th>
                <th scope="col">Título</th>
                <th class="text-center" scope="col">Estado</th>
                <th class="text-center" scope="col">Año egreso</th>
                <th scope="col" *ngIf="(tipo == 'vista')" >Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
            <tr *ngFor="let lista of listaEstudios; index as i;">
                <td>{{lista.nivel_educativo_nombre}}</td>
                <td>{{lista.titulo}}</td>
                <td class="text-center">
                    <span *ngIf="(lista.completo)">Completo</span>
                    <span *ngIf="(lista.en_curso)">En curso</span>
                </td>
                <td class="text-center">{{lista.anio}}</td>
                <td *ngIf="(tipo == 'vista')">
                    <modal-estudio [listaEstudios]="listaEstudios" [tipo]="'editar'" [estudio]="lista" [id]="i"></modal-estudio>
                    <modal-confirmacion [listaEstudios]="listaEstudios" [id]="i" ></modal-confirmacion>
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>