<fieldset [formGroup]="destinatario">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="legajo">Legajo:</label>
            <input type="text" id="legajo" placeholder="#######" class="form-control" formControlName="legajo">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="deseo_actividad">Actividad en la que se desea formación y entrenamiento (<span>*</span>):</label>
            <input type="text" id="deseo_actividad" placeholder="Actividad o formación que se desea" class="form-control" formControlName="deseo_actividad" [ngClass]="{'is-invalid': (destinatarioForm.deseo_actividad.invalid && submitted)}">
            <div *ngIf="(destinatarioForm.deseo_actividad.invalid && submitted)"
                class="text-danger">
                <div *ngIf="destinatarioForm.deseo_actividad.errors.required">Este campo es requerido. </div>
                <div *ngIf="destinatarioForm.deseo_actividad.errors.minlength">Por favor, escriba una actividad valida.</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="deseo_lugar_entrenamiento">Lugar donde se pretende adquirir entrenamiento (<span class="opcional">Opcional</span>):</label>
            <input type="text" id="deseo_lugar_entrenamiento" placeholder="Lugar donde se desea el entrenamiento" class="form-control" formControlName="deseo_lugar_entrenamiento">
        </div>
        <div class="form-group col-md-4">
            <auto-completar [listado]="listaProfesiones" [submitted]="submitted" [mensaje]="'Este campo es requerido.'" [titulo]="'Profesión'"
                            [placeHolder]="'Seleccione una profesión'" (seleccionaValor)="getProfesion($event)" ></auto-completar> 
        </div>
        <div class="form-group col-md-4">
            <auto-completar [listado]="listaOficios" [submitted]="submitted" [mensaje]="'Este campo es requerido.'" [titulo]="'Oficio'"
                            [placeHolder]="'Seleccione un oficio'" (seleccionaValor)="getOficio($event)"></auto-completar>

        </div>
        <div class="form-group form-check col-md-4">
            <input type="checkbox" id="experiencia_laboral" class="form-check-input" formControlName="experiencia_laboral">
            <label class="form-check-label" for="experiencia_laboral">Experiencia laboral</label>
        </div>
        <div class="form-group col-md-12">
            <label for="conocimientos_basicos">Conocimientos básicos sobre la actividad que desea recibir formación y entrenamiento (<span>*</span>):</label>
            <input type="text" id="conocimientos_basicos" placeholder="Conocimientos básicos" class="form-control" formControlName="conocimientos_basicos"
             [ngClass]="{'is-invalid': (destinatarioForm.conocimientos_basicos.invalid && submitted)}">
            <div *ngIf="(destinatarioForm.conocimientos_basicos.invalid && submitted)"
                class="text-danger">
                <div *ngIf="destinatarioForm.conocimientos_basicos.errors.required">Este campo es requerido. </div>
                <div *ngIf="destinatarioForm.conocimientos_basicos.errors.minlength">El texto es muy corto.</div>
            </div>
        </div>
        <div class="form-group col-md-8">
            <label for="Organismo_pril">Organismo donde se presento documentación y planilla de inscripción al PRIL (<span>*</span>):</label>
            <select class="form-control" id="Organismo_pril" formControlName="origen" [ngClass]="{'is-invalid': (destinatarioForm.origen.invalid && submitted)}">
                <option value="">Seleccione Organismo</option>
                <option value="1">Delegación Valle inferior</option>
                <option value="2">Ministerio de Desarrollo Social</option>
            </select>
            <div *ngIf="(destinatarioForm.origen.invalid && submitted)"
                class="text-danger">
                <div *ngIf="destinatarioForm.origen.errors.required">Este campo es requerido. </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="fecha_presentacion">Fecha presentación (<span>*</span>):</label>
            <div class="input-group">
                <input class="form-control" #c1 placeholder="dd/mm/yyyy" ngbDatepicker #fd="ngbDatepicker" id="fecha_presentacion" formControlName="fechaPresentacion"
                    (ngModelChange)="formatFechapresentacion($event)" [ngClass]="{'is-invalid': (destinatarioForm.fechaPresentacion.invalid && submitted)}">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" (click)="fd.toggle()" type="button" [ngClass]="{'btn-outline-danger': (destinatarioForm.fechaPresentacion.invalid && submitted)}">
                        <span class="oi oi-calendar" title="Dirección" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div *ngIf="(destinatarioForm.fechaPresentacion.invalid && submitted)"
                class="text-danger">
                <div *ngIf="destinatarioForm.fechaPresentacion.errors.required">Este campo es requerido. </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="banco_nombre">Nombre de banco:</label>
            <input type="text" id="banco_nombre" placeholder="Nombre del banco" class="form-control" formControlName="banco_nombre">
        </div>
        <div class="form-group col-md-4">
            <label for="banco_cbu">CBU:</label>
            <input type="text" id="banco_cbu" placeholder="Número de CBU" class="form-control" formControlName="banco_cbu" (keyup)="esNumero($event.target)">
        </div>
        <div class="form-group col-md-4">
            <label for="banco_alias">Alias:</label>
            <input type="text" id="banco_alias" placeholder="Alias de la cuenta" class="form-control" formControlName="banco_alias">
        </div>
    </div>
</fieldset>