<div class="row">
    <div class="form-group col-md-6">
        <label for="actividad_desea_formacion">Actividad en la que se desea formación y entrenamiento:</label>
        <input type="text" id="actividad_desea_formacion" placeholder="actividad_desea_formacion" class="form-control">
    </div>
    <div class="form-group col-md-6">
        <label for="lugar_entrenamiento">Lugar donde se pretende adquirir entrenamiento (<span class="opcional">Opcional</span>):</label>
        <input type="text" id="lugar_entrenamiento" placeholder="lugar_entrenamiento" class="form-control">
    </div>
    <div class="form-group col-md-4">
        <label for="profesion">Profesión (<span>*</span>):</label>
        <select class="form-control" id="profesion">
            <option value="0">Seleccione Profesión</option>
            <option value="1">Abogado/a</option>
            <option value="2">Profesor/a</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="oficio">Oficio (<span>*</span>):</label>
        <select class="form-control" id="oficio">
            <option value="0">Seleccione Oficio</option>
            <option value="1">Barbero</option>
            <option value="2">Panadero/a</option>
        </select>
    </div>
    <div class="form-group form-check col-md-4">
        <input type="checkbox" id="experiencia_laboral" class="form-check-input">
        <label class="form-check-label" for="experiencia_laboral">Experiencia laboral</label>
    </div>
    <div class="form-group col-md-12">
        <label for="conociemientos_basicos">Conocimientos basicos sobre la actividad que desea recibir formación y entrenamiento (<span>*</span>):</label>
        <input type="text" id="conociemientos_basicos" placeholder="conociemientos_basicos" class="form-control">
    </div>
    <div class="form-group col-md-8">
        <label for="Organismo_pril">Organismo donde se presento documentación y planilla de inscripción al PRIL (<span>*</span>):</label>
        <select class="form-control" id="Organismo_pril">
            <option value="0">Seleccione Organismo</option>
            <option value="1">Delegación Valle inferior</option>
            <option value="2">Ministerio de Desarrollo Social</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="fecha_presentacion">Fecha presentación (<span>*</span>):</label>
        <input type="text" id="fecha_presentacion" placeholder="fecha_presentacion" class="form-control">
    </div>
</div>