label > span {
    font-size: 18px;
    color:red;
    font-weight: 700;
}
label > span.opcional {
    font-size: 13px; 
    font-style: italic;
    color:red;
    font-weight: 700;
}

.form-check {
    margin-top: 3.1%;
    text-align: center;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
input.ng-invalid.ng-touched.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.31);
}