<fieldset [formGroup]="destinatario">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="legajo">Legajo:</label>
            <input type="text" id="legajo" placeholder="#######" class="form-control" formControlName="legajo">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="deseo_actividad" class="prioridad">Actividad en la que se desea formación y entrenamiento (<span>*</span>):</label>
            <input type="text" id="deseo_actividad" placeholder="Actividad o formación que se desea" class="form-control" formControlName="deseo_actividad" [ngClass]="{'is-invalid': (destinatario.get('deseo_actividad').invalid && submitted)}">
            <div *ngIf="(destinatario.get('deseo_actividad').invalid && submitted)"
                class="text-danger">
                <div *ngIf="destinatario.get('deseo_actividad').hasError('required')">Este campo es requerido. </div>
                <div *ngIf="destinatario.get('deseo_actividad').hasError('minlength')">Por favor, escriba una actividad valida.</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="deseo_lugar_entrenamiento">Lugar donde se pretende adquirir entrenamiento (<span class="opcional">Opcional</span>):</label>
            <input type="text" id="deseo_lugar_entrenamiento" placeholder="Lugar donde se desea el entrenamiento" class="form-control" formControlName="deseo_lugar_entrenamiento">
        </div>
        <div class="form-group col-md-4">
            <auto-completar [listado]="listaOficios" [titulo]="'Oficio'"
                            [placeHolder]="'Seleccione un oficio'" [nombreValor]="getNombreListadoPorId(setOficioid, listaOficios)" (seleccionaValor)="getOficio($event)"></auto-completar>
        </div>
        <div class="form-group form-check col-md-4">
            <input type="checkbox" id="experiencia_laboral" class="form-check-input" formControlName="experiencia_laboral">
            <label class="form-check-label" for="experiencia_laboral">Experiencia laboral</label>
        </div>
        <div class="form-group col-md-12">
            <label for="conocimientos_basicos" class="prioridad">Conocimientos básicos sobre la actividad que desea recibir formación y entrenamiento (<span>*</span>):</label>
            <input type="text" id="conocimientos_basicos" placeholder="Conocimientos básicos" class="form-control" formControlName="conocimientos_basicos"
             [ngClass]="{'is-invalid': (destinatario.get('conocimientos_basicos').invalid && submitted)}">
            <div *ngIf="(destinatario.get('conocimientos_basicos').invalid && submitted)"
                class="text-danger">
                <div *ngIf="destinatario.get('conocimientos_basicos').hasError('required')">Este campo es requerido. </div>
                <div *ngIf="destinatario.get('conocimientos_basicos').hasError('minlength')">El texto es muy corto.</div>
            </div>
        </div>
        <div class="form-group col-md-8">
            <label for="Organismo_pril" class="prioridad">Organismo donde se presento documentación y planilla de inscripción al PRIL (<span>*</span>):</label>
            <input type="text" id="organismo_pril" placeholder="Organismo donde se presento documentación o planilla de inscripción" class="form-control"
                formControlName="origen" [ngClass]="{'is-invalid': (destinatario.get('origen').invalid && submitted)}">
            <div *ngIf="(destinatario.get('origen').invalid && submitted)"
                class="text-danger">
                <div *ngIf="destinatario.get('origen').hasError('required')">Este campo es requerido. </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="fecha_presentacion" class="prioridad">Fecha presentación (<span>*</span>):</label>
            <div class="input-group">
                <input class="form-control" #c1 placeholder="dd/mm/yyyy" ngbDatepicker #fd="ngbDatepicker" id="fecha_presentacion" formControlName="fechaPresentacion"
                    (ngModelChange)="formatFechapresentacion($event)" [ngClass]="{'is-invalid': (destinatario.get('fechaPresentacion').invalid && submitted)}">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" (click)="fd.toggle()" type="button" [ngClass]="{'btn-outline-danger': (destinatario.get('fechaPresentacion').invalid && submitted)}">
                        <span class="oi oi-calendar" title="Dirección" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div *ngIf="(destinatario.get('fechaPresentacion').invalid && submitted)"
                class="text-danger">
                <div *ngIf="destinatario.get('fechaPresentacion').hasError('required')">Este campo es requerido. </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="col-5 pt-1">
            <hr>
        </div>
      <div class="col-2">
        <h3 class="pl-3">
          <small class="text-muted">Datos bancarios</small>
        </h3>
      </div>
      <div class="col-5 pt-1">
        <hr>
      </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="banco_nombre">Nombre de banco:</label>
            <input type="text" id="banco_nombre" placeholder="Nombre del banco" class="form-control" formControlName="banco_nombre">
        </div>
        <div class="form-group col-md-4">
            <label for="banco_cbu">CBU:</label>
            <input type="text" id="banco_cbu" placeholder="Número de CBU" class="form-control" formControlName="banco_cbu" (keyup)="esNumero($event.target)">
        </div>
        <div class="form-group col-md-4">
            <label for="banco_alias">Alias:</label>
            <input type="text" id="banco_alias" placeholder="Alias de la cuenta" class="form-control" formControlName="banco_alias">
        </div>
    </div>
</fieldset>
