label > span {
    font-size: 18px;
    color:red;
    font-weight: 700;
}
.is-invalid {
  border: 1px solid red;
}
.is-invalid:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.31);
}
.align-icon {
    align-content: flex-end;
    vertical-align: text-top;
}

.vista-detalle dt{
  align-content: flex-end;
  text-align: right;
  padding-left: 0px !important;
  padding-right: 8px !important;
}
.vista-detalle dd {
  align-content: flex-start;
  text-align: left;
  padding-left: 0px !important;
}
