<div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card-body">
              <area-entrenamiento-vista-destinatario></area-entrenamiento-vista-destinatario>
          </div>
      </div>


        <!-- <ngb-accordion #acc="ngbAccordion" activeIds="plan2, plan3">
            <ngb-panel id="plan1" title="Ambiente de trabajo">
                <ng-template ngbPanelContent>
                    <area-entrenamiento-vista-ambiente-trabajo></area-entrenamiento-vista-ambiente-trabajo>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="plan2" title="Oferta">
                <ng-template ngbPanelContent>
                     <area-entrenamiento-vista-oferta></area-entrenamiento-vista-oferta>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="plan3" title="Destinatario">
                <ng-template ngbPanelContent>
                    <area-entrenamiento-vista-destinatario></area-entrenamiento-vista-destinatario>
                </ng-template>
            </ngb-panel>
        </ngb-accordion> -->
    </div>
</div>
<hr class="my-4">
<h3>Área entrenamiento</h3>
<!-- <form [formGroup]="areaEntrenamiento" >
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="fecha_inicial">Fecha Inicial (<span>*</span>):</label>
                    <div class="input-group">
                        <input class="form-control" #c1 placeholder="dd/mm/yyyy" ngbDatepicker #faed="ngbDatepicker" id="fecha_nacimiento"
                            (ngModelChange)="formatFechaInicial($event)" formControlName="fechaInicial">
                        <div class="input-group-append">
                            <button class="btn btn-outline-info" (click)="faed.toggle()" type="button" [ngClass]="{'btn-outline-danger': (areaEntrenamiento.controls.fechaInicial.invalid && (!areaEntrenamiento.controls.fechaInicial.pristine || areaEntrenamiento.controls.fechaInicial.touched))}">
                                <span class="oi oi-calendar" title="fecha inicial" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="areaEntrenamiento.controls.fechaInicial.invalid && (!areaEntrenamiento.controls.fechaInicial.pristine || areaEntrenamiento.controls.fechaInicial.touched)" class="text-danger">
                        <div *ngIf="areaEntrenamiento.controls.fechaInicial.errors.required">Este campo es requerido. </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="plan">Plan (<span>*</span>):</label>
                    <select class="form-control" id="plan" formControlName="planid">
                        <option value="">Seleccione plan</option>
                        <option value="1">$1000 / 10 hs</option>
                        <option value="1">$2000 / 15 hs</option>
                        <option value="1">$5000 / 20 hs</option>
                    </select>
                     <div *ngIf="areaEntrenamiento.controls.planid.invalid && (!areaEntrenamiento.controls.planid.pristine || areaEntrenamiento.controls.planid.touched)" class="text-danger">
                        <div *ngIf="areaEntrenamiento.controls.planid.errors.required">Este campo es requerido.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <label for="tarea">Tarea (<span>*</span>):</label>
            <textarea id="tarea" rows="5" class="form-control" formControlName="tarea"></textarea>
            <div *ngIf="areaEntrenamiento.controls.tarea.invalid && (areaEntrenamiento.controls.tarea.dirty || areaEntrenamiento.controls.tarea.touched)" class="text-danger">
                <div *ngIf="areaEntrenamiento.controls.tarea.errors.required">Este campo es requerido.</div>
                <div *ngIf="areaEntrenamiento.controls.tarea.errors.minlength">Por favor, describa la tarea.</div>
            </div>
        </div>
    </div>
    <div class="float-right">
        <button class="btn btn-danger" (click)="cancelar()"><span class="oi oi-ban" title="Cancelar" aria-hidden="true"></span> Cancelar</button> &nbsp;
        <button class="btn btn-primary" (click)="volver()"><span class="oi oi-arrow-thick-left align-icon" title="atras" aria-hidden="true"></span> Atras</button> &nbsp;
        <button class="btn btn-success"><span class="fas fa-save" title="atras" aria-hidden="true"></span> Crear</button>
    </div>
</form> -->
