<div class="col-md-12">
    <div class="row">
        <div class="input-group">
            <select class="form-control col-md-3" id="tipo_ambiente_trabajo" [(ngModel)]="tipo_ambiente_trabajoid" [ngClass]="{'campo-seleccionado': marcarCampo(tipo_ambiente_trabajoid)}">
                <option value="">Seleccione tipo ambiente de trabajo</option>
                <option *ngFor="let tipo of tipo_ambiente_trabajo_lista" value="{{tipo.id}}">{{tipo.nombre}}</option>
            </select>             
            <select class="form-control col-md-3" id="localidad" [(ngModel)]="localidadid" [ngClass]="{'campo-seleccionado': marcarCampo(localidadid)}">
                <option value="">Seleccione Localidad</option>
                <option *ngFor="let lista of localidad_lista" value="{{lista.id}}">{{lista.nombre}}</option>
            </select>             
            <input type="text" class="form-control col-md-6" placeholder="Buscar por nombre de ambiente de trabajo" [(ngModel)]="global_param" [ngClass]="{'campo-seleccionado': marcarCampo(global_param)}" (keyup.enter)="realizarBusqueda()">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="realizarBusqueda()" ngbTooltip='Buscar'>
                    <span class="oi oi-magnifying-glass" title="Buscar" aria-hidden="true"></span>
                </button>
                <button class="btn btn-outline-danger" type="button" (click)="limpiarCampos()" ngbTooltip='Limpiar filtros'>
                    <i class="far fa-trash-alt"></i>
                </button>
                <a class="btn btn-outline-success" [routerLink]="['agregar']" routerLinkActive="router-link-active" ngbTooltip='Agregar Ambiente de trabajo'>
                    <span class="oi oi-plus" title="Agregar" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>