<fieldset [formGroup]="ambiente">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="tipo_ambiente_trabajo" class="prioridad">Tipo ambiente de trabajo (<span>*</span>):</label>
            <select class="form-control" id="tipo_ambiente_trabajo" formControlName="tipo_ambiente_trabajoid"
             (change)="selTipo($event)" [ngClass]="{'is-invalid': (ambiente.get('tipo_ambiente_trabajoid').invalid && submitted)}">
                <option value="">Seleccione tipo ambiente de trabajo</option>
                <option *ngFor="let tipo of tipo_ambiente_trabajo_lista" value="{{tipo.id}}">{{tipo.nombre}}</option>
            </select>
            <div *ngIf="(ambiente.get('tipo_ambiente_trabajoid').invalid && submitted)"
                class="text-danger">
                <div *ngIf="ambiente.get('tipo_ambiente_trabajoid').hasError('required')">Este campo es requerido. </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="nombre_ambiente" class="prioridad">Nombre <small>{{tipoAt}}</small> (<span>*</span>):</label>
            <input type="text" id="nombre_ambiente" class="form-control" formControlName="nombre"
             placeholder="Nombre" [ngClass]="{'is-invalid': (ambiente.get('nombre').invalid && submitted)}">
            <div *ngIf="(ambiente.get('nombre').invalid && submitted)"
                class="text-danger">
                <div *ngIf="ambiente.get('nombre').hasError('required')">Este campo es requerido. </div>
                <div *ngIf="ambiente.get('nombre').hasError('minlength')">Por favor, escriba una actividad valida.</div>
            </div>
        </div>
         <div class="form-group col-md-4">
            <label for="cuit" class="prioridad">Cuit (<span>*</span>):</label>
            <input type="text" id="cuit" class="form-control" formControlName="cuit" (keyup)="esCuit($event.target.value)"
             maxlength="11" placeholder="Ej.: 20335674568" [ngClass]="{'is-invalid': (ambiente.get('cuit').invalid && submitted)}">
            <div *ngIf="(ambiente.get('cuit').invalid && submitted)"
                class="text-danger">
                <div *ngIf="ambiente.get('cuit').hasError('required')">Este campo es requerido. </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="legajo" class="prioridad">Legajo (<span>*</span>):</label>
            <input type="text" id="legajo" class="form-control" formControlName="legajo"
             placeholder="######" [ngClass]="{'is-invalid': (ambiente.get('legajo').invalid && submitted)}">
             <div *ngIf="(ambiente.get('legajo').invalid && submitted)" class="text-danger">
                <div *ngIf="ambiente.get('legajo').hasError('required')">Este campo es requerido. </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="actividad" class="prioridad">Actividad que desarrolla (<span>*</span>):</label>
            <textarea class="form-control" id="actividad" rows="2" formControlName="actividad" placeholder="Definir actividad que se desarrolla...." [ngClass]="{'is-invalid': (ambiente.get('actividad').invalid && submitted)}"></textarea>
            <div *ngIf="(ambiente.get('actividad').invalid && submitted)"
                class="text-danger">
                <div *ngIf="ambiente.get('actividad').hasError('required')">Este campo es requerido. </div>
                <div *ngIf="ambiente.get('actividad').hasError('minlength')">Por favor, describa la actividad.</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="observacion">Observación:</label>
            <textarea class="form-control" id="observacion" rows="2" formControlName="observacion" placeholder="Observación o detalle del ambiente de trabajo..."></textarea>
        </div>
        <div class="form-group col-md-4">
            <label for="telefono1" class="prioridad">Telefono:</label>
            <input type="text" id="telefono1" class="form-control" formControlName="telefono1"
             placeholder="Ej.: (2920) 412356">
        </div>
        <div class="form-group col-md-4">
            <label for="telefono2" class="prioridad">Telefono 2:</label>
            <input type="text" id="telefono2" class="form-control" formControlName="telefono2"
             placeholder="Ej.: (2920) 412356">
        </div>
        <div class="form-group col-md-4">
            <label for="telefono3" class="prioridad">Telefono 3:</label>
            <input type="text" id="telefono3" class="form-control" formControlName="telefono3"
             placeholder="Ej.: (2920) 412356">
        </div>
        <div class="form-group col-md-4">
            <label for="fax" class="prioridad">Fax:</label>
            <input type="text" id="fax" class="form-control" formControlName="fax"
             placeholder="Ej.: (2920) 412356">
        </div>
        <div class="form-group col-md-4">
            <label for="email" class="prioridad">Email:</label>
            <input type="text" id="email" class="form-control" formControlName="email"
             placeholder="Ej.: mi_correo@correo.com.ar" [ngClass]="{'is-invalid': (ambiente.get('email').invalid && submitted)}">
             <div *ngIf="(ambiente.get('email').invalid && submitted)"
                class="text-danger">
                <div *ngIf="ambiente.get('email').hasError('pattern')">El email es invalido.</div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="col-5 pt-1"><hr></div>
        <div class="col-2">
          <h3 class="text-center">
            <small class="text-muted">Dirección</small>
          </h3>
        </div>
        <div class="col-5 pt-1"><hr></div>
    </div>
    <lugar-form [group]="ambiente.get('lugar')" [submitted]="submitted"></lugar-form>
</fieldset>
