<fieldset [formGroup]="datosPersona">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="nro_documento" class="prioridad">Nro. documento (<span>*</span>):</label>
            <div class="input-group">
                <input type="text" id="nro_documento" class="form-control" formControlName="nro_documento" (keyup)="esNumeroDocumento($event.target.value)"
                 minlength="7" maxlength="8" placeholder="Ej.: 23123987" [ngClass]="{'is-invalid': (datosPersona.get('nro_documento').invalid && submitted)}"
                 (change)="validarRepresentantePorDocumento($event.target.value)" >
            </div>
            <div *ngIf="(datosPersona.get('nro_documento').invalid && submitted)" class="text-danger">
                <div *ngIf="datosPersona.get('nro_documento').hasError('required')">Este campo es requerido. </div>
                <div *ngIf="datosPersona.get('nro_documento').hasError('minlength')">El número de documento debe tener al menos 7 digitos.</div>
                <div *ngIf="datosPersona.get('nro_documento').hasError('maxlength')">El número de documento no puede tener mas de 8 digitos.</div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="apellido" class="prioridad">Apellido (<span>*</span>):</label>
            <input type="text" id="apellido" class="form-control" formControlName="apellido" placeholder="Apellido" [ngClass]="{'is-invalid': (datosPersona.get('apellido').invalid && submitted)}">
            <div *ngIf="(datosPersona.get('apellido').invalid && submitted)"
                class="text-danger">
                <div *ngIf="datosPersona.get('apellido').hasError('required')">Este campo es requerido. </div>
                <div *ngIf="datosPersona.get('apellido').hasError('minlength')">El número de documento debe tener al menos 7 digitos.</div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="nombre" class="prioridad">Nombre (<span>*</span>):</label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="Nombre" [ngClass]="{'is-invalid': (datosPersona.get('nombre').invalid && submitted)}">
            <div *ngIf="(datosPersona.get('nombre').invalid && submitted)"
                class="text-danger">
                <div *ngIf="datosPersona.get('nombre').hasError('required')">Este campo es requerido. </div>
                <div *ngIf="datosPersona.get('nombre').hasError('minlength')">El número de documento debe tener al menos 7 digitos.</div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" class="form-control" formControlName="telefono" placeholder="Ej.: (2920) 427633">
        </div>
        <div class="form-group col-md-4">
            <label for="celular">Celular:</label>
            <input type="text" id="celular" class="form-control" formControlName="celular" placeholder="Ej.: (2920) 567365">
        </div>
        <div class="form-group col-md-4">
            <label for="email" class="prioridad">Email:</label>
            <input type="text" id="email" class="form-control" formControlName="email" placeholder="Ej.: micorreo@mail.com" [ngClass]="{'is-invalid': (datosPersona.get('email').invalid && submitted)}">
            <div *ngIf="(datosPersona.get('email').invalid && submitted)"
                class="text-danger">
                <div *ngIf="datosPersona.get('email').hasError('pattern')">El email es invalido.</div>
            </div>
        </div>
    </div>
</fieldset>
