<h3><small class="text-muted">Datos del representante</small></h3>
<fieldset [formGroup]="datosPersona">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="nro_documento">Nro. documento (<span>*</span>):</label>
            <div class="input-group">
                <input type="text" id="nro_documento" class="form-control" formControlName="nro_documento" (keyup)="esNumeroDocumento($event.target.value)"
                 minlength="7" maxlength="8" placeholder="Ej.: 23123987" [ngClass]="{'is-invalid': (representante.nro_documento.invalid && submitted)}">
                <div *ngIf="mostrarBtnBusqueda" class="input-group-append">
                    <button class="btn" [ngClass]="{'btn-outline-success': (existeRepresentante), 'btn-outline-secondary': (!existeRepresentante)}" type="button"
                        id="validar_representante_existe" (click)="validarRepresentantePorDocumento(representante.nro_documento.value)">
                        <span *ngIf="(!existeRepresentante)" class="oi oi-magnifying-glass" title="buscar persona" aria-hidden="true"></span>
                        <span *ngIf="(existeRepresentante)" class="oi oi-check" title="Encontro persona" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div *ngIf="(representante.nro_documento.invalid && submitted)" class="text-danger">
                <div *ngIf="representante.nro_documento.errors.required">Este campo es requerido. </div>
                <div *ngIf="representante.nro_documento.errors.minlength">El número de documento debe tener al menos 7 digitos.</div>
                <div *ngIf="representante.nro_documento.errors.maxlength">El número de documento no puede tener mas de 8 digitos.</div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="apellido">Apellido (<span>*</span>):</label>
            <input type="text" id="apellido" class="form-control" formControlName="apellido" placeholder="Apellido" [ngClass]="{'is-invalid': (representante.apellido.invalid && submitted)}">
            <div *ngIf="(representante.apellido.invalid && submitted)"
                class="text-danger">
                <div *ngIf="representante.apellido.errors.required">Este campo es requerido. </div>
                <div *ngIf="representante.apellido.errors.minlength">Escriba un apellido valido .</div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="nombre">Nombre (<span>*</span>):</label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="Nombre" [ngClass]="{'is-invalid': (representante.nombre.invalid && submitted)}">
            <div *ngIf="(representante.nombre.invalid && submitted)"
                class="text-danger">
                <div *ngIf="representante.nombre.errors.required">Este campo es requerido. </div>
                <div *ngIf="representante.nombre.errors.minlength">Escriba un nombre valido.</div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" class="form-control" formControlName="telefono" placeholder="Ej.: (2920) 427633">
        </div>
        <div class="form-group col-md-4">
            <label for="celular">Celular:</label>
            <input type="text" id="celular" class="form-control" formControlName="celular" placeholder="Ej.: (2920) 567365">
        </div>
        <div class="form-group col-md-4">
            <label for="fax">Fax:</label>
            <input type="text" id="fax" class="form-control" formControlName="fax" placeholder="Ej.: (2920) 456765">
        </div>
        <div class="form-group col-md-4">
            <label for="email">Email (<span>*</span>):</label>
            <input type="text" id="email" class="form-control" formControlName="email" placeholder="Ej.: micorreo@mail.com" [ngClass]="{'is-invalid': (representante.email.invalid && submitted)}">
            <div *ngIf="(representante.email.invalid && submitted)"
                class="text-danger">
                <div *ngIf="representante.email.errors.required">Este campo es requerido. </div>
                <div *ngIf="representante.email.errors.pattern">El email es invalido.</div>
            </div>
        </div>
    </div>
    <!-- <hr class="mb-4">
    <lugar-form [group]="representante.lugar" [submitted]="submitted"></lugar-form> -->
</fieldset>