        <div class="card">
            <div class="card-body">
                 <div class="row">
                    <div class="col-md-4 vista-detalle">
                        <dl class="row">
                            <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Fecha incial:</dt>
                            <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{datosOferta.fecha_inicial}}</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Nombre Sucursal:</dt>
                            <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{datosOferta.nombre_sucursal}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-4 vista-detalle">
                        <dl class="row">
                            <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Área:</dt>
                            <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{datosOferta.area}}</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Puesto:</dt>
                            <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{datosOferta.puesto}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-4 vista-detalle">
                        <dl class="row">
                            <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Días y horarios:</dt>
                            <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{datosOferta.dia_horario}}</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Demanda Laboral:</dt>
                            <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{datosOferta.demanda_laboral}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <dl class="row">
                                    <dt class="col-12 col-sm-12 col-md-12 col-lg-12">Tarea:</dt>
                                    <dd class="col-12 col-sm-12 col-md-12 col-lg-12">{{datosOferta.tarea}}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <dl class="row">
                                    <dt class="col-12 col-sm-12 col-md-12 col-lg-12">Objetivo:</dt>
                                    <dd class="col-12 col-sm-12 col-md-12 col-lg-12">{{datosOferta.objetivo}}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <dl class="row">
                                    <dt class="col-12 col-sm-12 col-md-12 col-lg-12">Dirección:</dt>
                                    <dd class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        {{datosOferta.lugar.localidad}} - {{datosOferta.lugar.barrio}} - {{datosOferta.lugar.calle}} {{datosOferta.lugar.altura}}
                                        <span *ngIf="(datosOferta.lugar.escalera != '')"> - {{datosOferta.lugar.escalera}}</span>
                                        <span *ngIf="(datosOferta.lugar.escalera != '')"> - {{datosOferta.lugar.piso}}</span>
                                        <span *ngIf="(datosOferta.lugar.escalera != '')"> - {{datosOferta.lugar.depto}}</span>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
