<div class="row">
    <div class="col-md-12 ">
      <div class="row">
          <div class="col-md-4">
              <dl class="row">
                  <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Apellido y nombre:</dt>
                  <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{destinatario.persona.apellido}}, {{destinatario.persona.nombre}}</dd>
              </dl>
              <dl class="row">
                  <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Nro. Documento:</dt>
                  <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{destinatario.persona.nro_documento}}</dd>
              </dl>
              <dl class="row">
                  <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Fecha nacimiento:</dt>
                  <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{destinatario.persona.fecha_nacimiento | date:'dd/MM/yyyy'}}</dd>
              </dl>
              <dl class="row">
                  <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Sexo (Genero):</dt>
                  <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{destinatario.persona.sexo}} ({{destinatario.persona.genero}})</dd>
              </dl>
              <dl class="row">
                  <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Estado civil:</dt>
                  <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{destinatario.persona.estado_civil}}</dd>
              </dl>
          </div>
          <div class="col-md-8">
              <div class="row">
                  <div class="col-md-6">
                      <dl class="row">
                          <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Fecha presentación:</dt>
                          <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{destinatario.fecha_presentacion | date:'dd/MM/yyyy'}}</dd>
                      </dl>
                      <dl class="row">
                          <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Cuil:</dt>
                          <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{destinatario.persona.cuil}}</dd>
                      </dl>
                      <dl class="row">
                          <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Formación deseada:</dt>
                          <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{destinatario.deseo_actividad}}</dd>
                      </dl>
                      <dl class="row">
                          <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Conocimientos basicos:</dt>
                          <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{destinatario.conocimientos_basicos}}</dd>
                      </dl>
                  </div>
                  <div class="col-md-6">
                      <dl class="row">
                          <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Experiencia laboral:</dt>
                          <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{(destinatario.experiencia_laboral)?'si':'no'}}</dd>
                      </dl>
                      <dl class="row">
                          <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Profesión:</dt>
                          <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{destinatario.profesion}}</dd>
                      </dl>
                      <dl class="row">
                          <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Oficio:</dt>
                          <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{destinatario.oficio}}</dd>
                      </dl>
                      <dl class="row">
                          <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Lugar elegido:</dt>
                          <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{destinatario.deseo_lugar_entrenamiento}}</dd>
                      </dl>
                  </div>
                  <div class="col-md-12">
                      <dl class="row">
                          <dt class="col col-sm-6 col-md-3 col-lg-3">Origen de inscripción:</dt>
                          <dd class="col col-sm-6 col-md-9 col-lg-9">{{destinatario.origen}}</dd>
                      </dl>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <ul class="list-inline d-flex justify-content-center">
                  <li class="list-inline-item">
                      <ng-template #direccionContent>
                          {{destinatario.persona.lugar.localidad}} <br>
                          {{destinatario.persona.lugar.barrio}} <br>
                          {{destinatario.persona.lugar.calle}} {{destinatario.persona.lugar.altura}}
                          <span *ngIf="(destinatario.persona.lugar.escalera != '' || destinatario.persona.lugar.depto != '' || destinatario.persona.lugar.piso != '')">
                              <br>
                              {{(destinatario.persona.lugar.escalera != "")?destinatario.persona.lugar.escalera:""}} {{(destinatario.persona.lugar.depto != "")?destinatario.persona.lugar.depto:""}} {{(destinatario.persona.lugar.piso != "")?destinatario.persona.lugar.piso:""}}
                          </span>
                      </ng-template>
                      <button type="button" class="btn btn-outline-secondary btn-margin-left" [ngbTooltip]="direccionContent">
                          <span class="oi oi-home" title="Dirección" aria-hidden="true"></span>
                      </button>
                  </li>
                  <li class="list-inline-item">
                      <button *ngIf="(destinatario.persona.telefono != '')" type="button" class="btn btn-outline-secondary btn-margin-left" ngbTooltip="{{destinatario.persona.telefono}}">
                          <i class="fas fa-phone" title="Telefono"></i>
                      </button>
                  </li>
                  <li class="list-inline-item">
                      <button *ngIf="(destinatario.persona.celular != '')" type="button" class="btn btn-outline-secondary btn-margin-left" ngbTooltip="{{destinatario.persona.celular}}">
                          <span class="oi oi-phone" title="Celular" aria-hidden="true"></span>
                      </button>
                  </li>
                  <li class="list-inline-item">
                      <ng-template #bancoContent>{{destinatario.banco_nombre}} <br> <b>CBU:</b> {{destinatario.banco_cbu}} <br> <b>Alias:</b> {{destinatario.banco_alias}}</ng-template>
                      <button *ngIf="(destinatario.banco_nombre != '')" type="button" class="btn btn-outline-secondary btn-margin-left"
                        [ngbTooltip]="bancoContent">
                          <i class="fas fa-university"></i>
                      </button>
                  </li>
              </ul>
          </div>
          <!-- <div class="col-md-12">
              <lista-estudio *ngIf="(destinatario.persona.estudios.length > 0)" [listaEstudios]="destinatario.persona.estudios" [tipo]="0" ></lista-estudio>
              <hr *ngIf="(destinatario.persona.estudios.length == 0)" class="mb-3">
              <div *ngIf="(destinatario.persona.estudios.length == 0)" class="d-flex justify-content-center alert alert-danger">
                      Destinatario sin  estudios.
              </div>
          </div> -->
      </div>
    </div>
</div>
