<table class="table table-sm table-hover">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let titulo of titulosArray" scope="col">{{titulo}}</th>
      <th class="text-right" scope="col">
        Acción
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of listado">
      <td *ngFor="let titulo of titulosArray" scope="col">{{row[titulo]}}</td>
      <td class="text-right" scope="col">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="editar(row.id)"><i class="fas fa-pen"></i></button>
          <button type="button" class="btn btn-sm btn-outline-danger" (click)="borrar(row.id)"><i class="fas fa-trash-alt"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
