<div class="col-md-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nro. documento</th>
                <th scope="col">Apellido y nombre</th>
                <th scope="col"></th>
                <th class="text-center" scope="col">Profesión</th>
                <th class="text-center" scope="col">Oficio</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody *ngIf="(totalFiltrado == 0)">
            <tr>
                <td class="text-center" colspan="6" rowspan="1">No se han encontrado resultados que mostrar.</td>
            </tr>
        </tbody>
        <tbody *ngIf="(totalFiltrado > 0)">
            <tr *ngFor="let destinatario of destinatarios; let i = index;">
                <td>{{destinatario.dato_extra.nro_documento}}</td>
                <th>{{destinatario.dato_extra.apellido}}, {{destinatario.dato_extra.nombre}}</th>
                <td>
                    
                        <!-- <span [innerHTML]="destinatario.dato_extra.direccion"></span> -->
                         <!-- {{destinatario.dato_extra.direccion}} -->
                    <button type="button" class="btn btn-outline-secondary btn-margin-left" tooltipClass="tooltip-inner" ngbTooltip="{{getDireccion(destinatario.dato_extra.direccion)}}">
                        <span class="oi oi-home" title="Dirección" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-outline-secondary btn-margin-left" ngbTooltip="{{destinatario.dato_extra.email}}">
                        <span class="oi oi-envelope-closed" title="Email" aria-hidden="true"></span>
                    </button>
                    <button *ngIf="(destinatario.dato_extra.telefono != '')" type="button" class="btn btn-outline-secondary btn-margin-left" ngbTooltip="{{destinatario.dato_extra.telefono}}">
                        <i class="fas fa-phone" title="Telefono"></i>
                    </button>
                    <button *ngIf="(destinatario.dato_extra.celular != '')" type="button" class="btn btn-outline-secondary btn-margin-left" ngbTooltip="{{destinatario.dato_extra.celular}}">
                        <span class="oi oi-phone" title="Celular" aria-hidden="true"></span>
                    </button>
                </td>
                <td class="text-center">{{destinatario.profesion}}</td>
                <td class="text-center">{{destinatario.oficio}}</td>
                <td>
                    <button type="button" class="btn btn-info btn-sm">
                        <span class="oi oi-eye" title="Ver destinatario" aria-hidden="true" (click)="verDestinatario(destinatario.id)"></span>
                    </button>
                    <button type="button" class="btn btn-light btn-sm" (click)="editarDestinatario(destinatario.id)">
                        <span class="oi oi-pencil" title="Editar destinatario" aria-hidden="true" ></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>