<div class="col-md-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Apellido y nombre</th>
                <th scope="col"></th>
                <th class="text-center" scope="col">Profesión</th>
                <th class="text-center" scope="col">Oficio</th>
                <th scope="col">Fecha de ingreso</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let destinatario of destinatarios">
                <th>{{destinatario.apellido}}, {{destinatario.nombre}}</th>
                <td>
                    <button type="button" class="btn btn-outline-secondary btn-margin-left" ngbTooltip="{{destinatario.direccion}}">
                        <span class="oi oi-home" title="Dirección" aria-hidden="true"></span>
                    </button>
                    <button *ngIf="(destinatario.telefono != '')" type="button" class="btn btn-outline-secondary btn-margin-left" ngbTooltip="{{destinatario.telefono}}">
                        <i class="fas fa-phone" title="Telefono"></i>
                    </button>
                    <button *ngIf="(destinatario.celular != '')" type="button" class="btn btn-outline-secondary btn-margin-left" ngbTooltip="{{destinatario.celular}}">
                        <span class="oi oi-phone" title="Celular" aria-hidden="true"></span>
                    </button>
                    <button *ngIf="(destinatario.nivel_educativo != undefined)" type="button" class="btn btn-outline-secondary btn-margin-left" ngbTooltip="{{destinatario.nivel_educativo}}">
                        <i class="fas fa-user-graduate" title="Nivel educativo" aria-hidden="true"></i>
                    </button>
                </td>
                <td class="text-center">{{destinatario.profesion}}</td>
                <td class="text-center">{{destinatario.oficio}}</td>
                <td>{{destinatario.presentacion | date:'dd/MM/yyyy'}}</td>
                <td>
                    <button type="button" class="btn btn-info btn-sm">
                        <span class="oi oi-eye" title="Ver destinatario" aria-hidden="true" (click)="verDestinatario(destinatario.id)"></span>
                    </button>
                    <button type="button" class="btn btn-light btn-sm" (click)="editarDestinatario(destinatario.id)">
                        <span class="oi oi-pencil" title="Editar destinatario" aria-hidden="true" ></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>