<div class="mb-3 mt-2 bg-white rounded">
  <div class="d-flex justify-content-between align-items-center p-1">
    <h2 class="ml-3 mb-0" > Gesti&oacute;n de Usuarios </h2>
    <gu-agregar-usuario-modal></gu-agregar-usuario-modal>
    <!-- <button type="button" class="btn btn-outline-success "><i class="fas fa-user-plus"></i>&nbsp;Nuevo</button> -->
    <!-- <abm-agregar-modal class="mr-3" [tipo]="'agregar'" [titulo]="'Agregar oficio'" [armarForm]="titulos" (obtenerDatos)="guardar($event)" ></abm-agregar-modal> -->
  </div>
</div>

<gu-tabla-component></gu-tabla-component>
