<div class="col-md-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Cuit</th>
                <th scope="col">Representante</th>
                <th scope="col"></th>
                <th scope="col">Tipo</th>
                <th scope="col">Estado</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody *ngIf="(totalFiltrado == 0)">
            <tr>
                <td class="text-center" colspan="7" rowspan="1">No se han encontrado resultados que mostrar.</td>
            </tr>
        </tbody>
        <tbody *ngIf="(totalFiltrado > 0)" >
            <tr *ngFor="let ambiente of ambientes">
                <th>{{ambiente.nombre}}</th>
                <td>{{ambiente.cuit}}</td>
                <td>{{ambiente.persona.apellido}}, {{ambiente.persona.nombre}}</td>
                <td>
                    <button type="button" class="btn btn-outline-secondary btn-margin-left" ngbTooltip="{{ambiente.direccion}}">
                        <span class="oi oi-home" title="Dirección" aria-hidden="true"></span>
                    </button>
                    <button *ngIf="(ambiente.persona.telefono != '')" type="button" class="btn btn-outline-secondary btn-margin-left" ngbTooltip="{{ambiente.persona.telefono}}">
                        <i class="fas fa-phone" title="Telefono"></i>
                    </button>
                    <button *ngIf="(ambiente.persona.celular != '')" type="button" class="btn btn-outline-secondary btn-margin-left" ngbTooltip="{{ambiente.persona.celular}}">
                        <span class="oi oi-phone" title="Celular" aria-hidden="true"></span>
                    </button>
                    <button *ngIf="(ambiente.persona.fax != '')" type="button" class="btn btn-outline-secondary btn-margin-left" ngbTooltip="{{ambiente.persona.fax}}">
                        <i class="fas fa-fax" title="fax" aria-hidden="true"></i>
                    </button>
                </td>
                <td>{{ambiente.tipo_ambiente_trabajo}}</td>
                <td>{{ambiente.estado}}</td>
                <td>
                    <button type="button" class="btn btn-info btn-sm" (click)="verAmbienteTrabajo(ambiente.id)">
                        <span class="oi oi-eye" title="Ver ambiente" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-light btn-sm" (click)="editarAmbienteTrabajo(ambiente.id)">
                        <span class="oi oi-pencil" title="Editar ambiente" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-success btn-sm" (click)="agregarOfertas(ambiente.id)">
                        <span class="oi oi-briefcase" title="Agregar ofertas" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
