<nav class="col-md-2 d-none d-md-block bg-green-ds sidebar">
  <div class="logorn-nombre">
    <img src="../../../assets/img/logoRN.svg" alt="rio_negro" >
    <p class="nombre-ds">Ministerio de Desarrollo Humano y Articulación Solidaria</p>
  </div>
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">Oficio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Plan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Redes sociales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tipo ambiente de trabajo</a>
      </li>
    </ul>
  </div>
</nav>
