<!-- <div *ngIf="mensaje" class="alert alert-danger" role="alert">
    A simple danger alert—check it out!
</div> -->
<div *ngIf="mensaje" class="overlay"></div>
<div *ngIf="mensaje" class="{{ cssAlert(tipo) }} mensajes-alert" role="alert">
    <div class="mensaje-alert-header">
        <h4 class="alert-heading">{{obtenerTitulo(tipo)}}</h4>
    </div>
    <div class="mensaje-alert-body">
        <p>{{mensaje}}</p>
    </div>
    <div class="float-right">
        <button type="button" class="btn btn-danger" *ngIf="(tipo == 1)" (click)="removerMensaje()" >Cerrar</button>&nbsp;
        <button type="button" class="btn btn-success" *ngIf="(tipo == 0)" (click)="redireccionamiento()">Aceptar</button>&nbsp;
    </div>
</div>