<form [formGroup]="destinatarioForm" (ngSubmit)="onSubmit()">
    <datos-persona-form [group]="destinatarioForm.controls.persona" [submitted]="submitted" ></datos-persona-form>
    <hr class="my-4">
    <modal-estudio></modal-estudio>
    <hr class="my-4">
    <datos-destinatario-form [group]="destinatarioForm.controls.destinatario" [submitted]="submitted"></datos-destinatario-form>
    <hr class="my-4">
    <div class="float-right">
        <button class="btn btn-danger" (click)="volver()"><span class="oi oi-ban" title="Guardar" aria-hidden="true"></span> Cancelar</button> &nbsp;
        <button class="btn btn-success"><span class="fas fa-save" title="Guardar" aria-hidden="true"></span> Guardar</button>
    </div>
</form>