/* @import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'; */
@import './assets/css/bootstrap.min.css';
/* You can add global styles to this file, and also import other style files */
body {
  overflow: hidden;
  background-color: #eeeeee;
}
.app-container {
  position: absolute;
  width: 100%;
  overflow-y: auto;
  top:66px;
  height: 90%;
}
.container-fluid {
  margin-bottom: 50px;
  min-height: 80%;
}
dl.row{
  margin-bottom: 0 !important;
}
.modal-lg {
    max-width: 1200px !important;
}
.botton-separate{
    margin-bottom: 10px;
}
.modal {
    z-index: 1031 !important;
}
.modal-backdrop {
    z-index: 1030 !important;
}
.tab-pane {
  padding-top: 1rem !important;
  border: 1px solid rgba(0,0,0,.125);
  border-top: 0 !important;
}
.form-group {
  margin-bottom: 0.3rem !important;
}
label {
  margin-bottom: 0.2rem !important;
}
.prioridad {
  margin-bottom: 1px !important;
}

.campo-seleccionado {
  color: #495057;
  background-color: #fff;
  border: groove #8cc63f;
  outline: 0
}
.campo-seleccionado:focus {
  border: #8cc63f;
  box-shadow: 0 0 0 0.2rem #8cc63f;
}
dt{
  align-content: flex-end;
  text-align: right;
  padding-left: 0px !important;
  padding-right: 8px !important;
}
dd {
  align-content: flex-start;
  text-align: left;
  padding-left: 0px !important;
}
.bg-green-ds {
  background-color: #8cc63f !important;
}
