@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
/* You can add global styles to this file, and also import other style files */
.app-container {
  position: absolute;
  width: 100%;
  overflow-y: auto;
  top:73px;
  bottom: 70px;
} 