/* @import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'; */
@import './assets/css/bootstrap.min.css';
/* You can add global styles to this file, and also import other style files */
body {
  overflow: hidden;
}
.app-container {
  position: absolute;
  width: 100%;
  overflow-y: auto;
  top:66px;
  height: 90%;
}
.container-fluid {
  margin-bottom: 50px;
  min-height: 80%;
}
dl.row{
  margin-bottom: 0 !important;
}
.modal-lg {
    max-width: 1200px !important;
}
.botton-separate{
    margin-bottom: 10px;
}
.modal {
    z-index: 1031;
}
.modal-backdrop {
    z-index: 1030;
}
.tab-pane {
  padding-top: 1rem !important;
  border: 1px solid rgba(0,0,0,.125);
  border-top: 0 !important;
}
.form-group {
  margin-bottom: 0.3rem !important;
}
label {
  margin-bottom: 0.2rem !important;
}
.prioridad {
  margin-bottom: 1px !important;
}
