<form [formGroup]="ambienteForm">
    <datos-ambiente-trabajo-form [group]="ambienteForm.controls.ambienteTrabajo"></datos-ambiente-trabajo-form>
    <hr class="mb-4">
    <datos-representante-form [group]="ambienteForm.controls.persona"></datos-representante-form>

    <hr class="mb-4">
    <div class="float-right">
        <button class="btn btn-danger" (click)="volver()"><span class="oi oi-ban" title="Cancelar" aria-hidden="true"></span> Cancelar</button> &nbsp;
        <button class="btn btn-success"><span class="fas fa-save" title="Guardar" aria-hidden="true"></span> Guardar</button>
    </div>
</form>