<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar por DNI, nombre y apellido de destinatario o nombre de ambiente de trabajo" aria-label="buscador destinatario" [(ngModel)]="global_param" (keyup.enter)="realizarBusqueda()"  [ngClass]="{'campo-seleccionado': marcarCampo(global_param)}" placement="top">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="realizarBusqueda()" ngbTooltip="Buscar">
                        <span class="oi oi-magnifying-glass" title="Dirección" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-outline-danger" type="button" (click)="limpiarCampos()" ngbTooltip="Limpiar campos" placement="top">
                        <i class="far fa-trash-alt"></i>
                    </button>
                    <button class="btn btn-outline-success" type="button" (click)="agregarArea()" ngbTooltip="Agregar un área de entrenamiento" placement="top">
                        <span class="oi oi-plus" title="Agregar" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <form [formGroup]="busquedaForm">
      <div class="row">
        <div class="col-md-12 inner">
            <p>
                <button type="button" class="btn" (click)="abrirCerrarBusquedaAvanzada()" [ngClass]="{'btn-outline-success': btnSeleccion, 'btn-outline-primary': !btnSeleccion}">
                    B&uacute;squeda avanzada
                </button>
            </p>
            <div [@abrirCerrar]="state" id="busqueda_avanzada_area_entrenamiento" >
                <div class="card">
                    <div class="card-body pb-1">
                        <div class="row">
                            <div class="col-md-6">
                                <select id="estado" class="form-control" formControlName="estado" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaForm.get('estado').value)}">
                                    <option value="">Seleccionar estado</option>
                                    <option *ngFor="let estado of estadoLista" value="{{estado.id}}" >{{estado.nombre}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select id="plan" formControlName="planid" class="form-control" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaForm.get('planid').value)}">
                                    <option value="">Seleccionar plan</option>
                                    <option *ngFor="let plan of planLista" value="{{plan.id}}" >{{plan.nombre}}</option>
                                </select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="dd/mm/yyyy (Desde)" ngbDatepicker #d="ngbDatepicker"
                                        [container]="'body'" formControlName="fechaInicialDesde"[ngClass]="{'campo-seleccionado': marcarCampo(busquedaForm.get('fechaInicialDesde').value)}">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-info" (click)="d.toggle()" type="button">
                                                <span class="oi oi-calendar" title="Dirección" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="dd/mm/yyyy (Hasta)" ngbDatepicker #d2="ngbDatepicker"
                                        [container]="'body'" formControlName="fechaInicialHasta"[ngClass]="{'campo-seleccionado': marcarCampo(busquedaForm.get('fechaInicialHasta').value)}">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-info" (click)="d2.toggle()" type="button">
                                                <span class="oi oi-calendar" title="Dirección" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </form>
</div>
