<div class="col-md-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Fecha inicial</th>
                <th scope="col">Fecha final</th>
                <th scope="col">Tarea</th>
                <th scope="col">Destinatario</th>
                <th scope="col">Ambiente de trabajo</th>
                <th scope="col">Plan</th>
                <th scope="col">Estado</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody *ngIf="(totalFiltrado == 0)">
            <tr colspan="8" rowspan="1">
                <td class="text-center" colspan="9" rowspan="1">No se han encontrado resultados que mostrar.</td>
            </tr>
        </tbody>
        <tbody *ngIf="(totalFiltrado > 0)">
            <tr *ngFor="let area of areas">
                <th>{{area.fecha_inicial | date:'dd/MM/yyyy' }}</th>
                <td>{{area.fecha_final | date:'dd/MM/yyyy'}}</td>
                <td>{{area.tarea}}</td>
                <td>
                    {{area.destinatario.persona.nro_documento}} - {{area.destinatario.persona.apellido}}, {{area.destinatario.persona.nombre}}
                </td>
                <td>{{area.oferta.ambiente_trabajo}}</td>
                <td>{{area.plan}}</td>
                <td>{{area.estado}}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-info btn-sm" (click)="verAreaEntrenamiento(area.id)">
                        <span class="oi oi-eye" title="Ver area" aria-hidden="true" ></span>
                    </button>
                    <button type="button" class="btn btn-light btn-sm">
                        <span class="oi oi-pencil" title="Editar area" aria-hidden="true"></span>
                    </button>
                  </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
