<div class="col-md-12" style="margin-bottom: 5px;">
    <form><div class="row"><div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar: nombre, apellido, documento, oficio, puesto ..." aria-label="buscador destinatario" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">
                            <span class="oi oi-magnifying-glass" title="Buscar" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-outline-danger" type="button" (click)="limpiar()">
                            <span class="oi oi-trash" title="Limpiar campos" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
    </div></div></form>
</div>
<div class="col-md-12">
    <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">Nro. Documento</th>
            <th scope="col" style="border-right: 0;">Apellido y nombre</th>
            <th style="border-left: 0;"></th>
            <th scope="col">Formación deseada</th>
            <th scope="col">Oficio</th>
            <th scope="col" class="text-center" width="70">Selección</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let destinatario of destinatarios" [ngClass]="{'table-success': (selId == destinatario.id)}" (click)="seleccionarDestinatario(destinatario.id, destinatario.deseo_actividad, destinatario.persona.lista_oficio)">
              <td>{{destinatario.persona.nro_documento}}</td>
              <th rowspan="1" colspan="2">{{destinatario.persona.apellido}}, {{destinatario.persona.nombre}}
                <button type="button" class="btn btn-sm btn-outline-secondary btn-margin-left" tooltipClass="tooltip-inner" ngbTooltip="{{getDireccion(destinatario.persona.lugar)}}">
                  <span class="oi oi-home" title="Dirección" aria-hidden="true"></span>
                </button>
                <button *ngIf="(destinatario.persona.email != '')" type="button" class="btn btn-sm btn-outline-secondary btn-margin-left" ngbTooltip="{{destinatario.persona.email}}">
                  <span class="oi oi-envelope-closed" title="Email" aria-hidden="true"></span>
                  </button>
                  <button *ngIf="(destinatario.persona.telefono != '')" type="button" class="btn btn-sm btn-outline-secondary btn-margin-left" ngbTooltip="{{destinatario.persona.telefono}}">
                    <i class="fas fa-phone" title="Telefono"></i>
                  </button>
                  <button *ngIf="(destinatario.persona.celular != '')" type="button" class="btn btn-sm btn-outline-secondary btn-margin-left" ngbTooltip="{{destinatario.persona.celular}}">
                    <span class="oi oi-phone" title="Celular" aria-hidden="true"></span>
                  </button>
              </th>
              <td>{{destinatario.deseo_actividad}}</td>
              <td class="text-center">
                  <vista-tag-component [listaTags]="destinatario.persona.lista_oficio"></vista-tag-component>
              </td>
              <td class="text-center"  width="70">
                  <i *ngIf="(selId == destinatario.id)" class="fas fa-check" title="seleccionar"></i>
              </td>
            </tr>
        </tbody>
    </table>
    <ngb-pagination style="margin-top: -10px;" class="d-flex justify-content-center" [collectionSize]="totalFiltrado" [(page)]="pagina" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
</div>
