<div class="d-flex justify-content-between border-top">
  <div class="d-flex align-items-center p-2 font-weight-bold">
    <span *ngIf="configPaginacion.totalRegistros > 0">Destinatario/s: {{configPaginacion.cantRegistros}} - {{configPaginacion.totalRegistros}} de {{configPaginacion.colleccionSize}}</span>
    <span *ngIf="configPaginacion.totalRegistros == 0">Destinatarios: {{configPaginacion.cantRegistros}}</span>
  </div>
</div>
<div class="col-md-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nro. documento</th>
                <th scope="col">Apellido y nombre</th>
                <th scope="col"></th>
                <th class="text-center" scope="col">Nivel Alcanzado</th>
                <th class="text-center" scope="col">Profesión</th>
                <th class="text-center" scope="col">Oficio</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody *ngIf="(destinatarios.length == 0)">
            <tr>
                <td class="text-center" colspan="6" rowspan="1">No se han encontrado resultados que mostrar.</td>
            </tr>
        </tbody>
        <tbody *ngIf="(destinatarios.length > 0)">
            <tr *ngFor="let destinatario of destinatarios; let i = index;">
                <td>{{destinatario.persona.nro_documento}}</td>
                <th>{{destinatario.persona.apellido}}, {{destinatario.persona.nombre}}</th>
                <td>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" tooltipClass="tooltip-inner" ngbTooltip="{{getDireccion(destinatario.persona.lugar)}}">
                        <span class="oi oi-home" title="Dirección" aria-hidden="true"></span>
                    </button>
                    <button *ngIf="(destinatario.persona.email != '')" type="button" class="btn btn-sm btn-outline-secondary" ngbTooltip="{{destinatario.persona.email}}">
                        <span class="oi oi-envelope-closed" title="Email" aria-hidden="true"></span>
                    </button>
                    <button *ngIf="(destinatario.persona.telefono != '')" type="button" class="btn btn-sm btn-outline-secondary" ngbTooltip="{{destinatario.persona.telefono}}">
                        <i class="fas fa-phone" title="Telefono"></i>
                    </button>
                    <button *ngIf="(destinatario.persona.celular != '')" type="button" class="btn btn-sm btn-outline-secondary" ngbTooltip="{{destinatario.persona.celular}}">
                        <span class="oi oi-phone" title="Celular" aria-hidden="true"></span>
                    </button>
                  </div>
                </td>
                <td class="text-center">
                  <span>{{nivelEducativo(destinatario.persona.ultimo_estudio)}}</span>
                </td>
                <td class="text-center">
                  <span>{{tituloProfesion(destinatario.persona.ultimo_estudio)}}</span>
                </td>
                <td class="text-center">
                    <vista-tag-component [listaTags]="destinatario.persona.lista_oficio"></vista-tag-component>
                </td>
                <td>
                  <div class="btn-group" role="group">
                    <a class="btn btn-info btn-sm" [routerLink]="['vista', destinatario.id]"><span class="oi oi-eye" title="Ver destinatario" aria-hidden="true"></span></a>
                    <a class="btn btn-light btn-sm" [routerLink]="['editar', destinatario.id]"><span class="oi oi-pencil" title="Editar destinatario" aria-hidden="true" ></span></a>
                  </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="(configPaginacion.colleccionSize > configPaginacion.pageSize)" class="d-flex justify-content-center">
    <ngb-pagination [collectionSize]="configPaginacion.colleccionSize" [(page)]="configPaginacion.page" [pageSize]="configPaginacion.pageSize" [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="cambioPagina(configPaginacion.page)"></ngb-pagination>
</div>

<pre>{{ destinatarios[0] | json }}
