<div class="row">
    <div class="col-md-12">
        <h3 *ngIf="(nombreAmbiente != '' && nombreAmbiente != undefined)" >Ofertas de {{nombreAmbiente}}</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Fecha de inicio</th>
                    <th scope="col">Puesto</th>
                    <th scope="col">Días y horarios</th>
                    <th scope="col">Estado</th>
                    <th class="text-center" scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let oferta of listaOfertas">
                    <td>{{oferta.fecha_inicial | date:'dd/MM/yyyy' }}</td>
                    <td>{{oferta.puesto}}</td>
                    <td>{{oferta.dia_horario}}</td>
                    <td>{{oferta.estado}}</td>
                    <td class="text-center">
                        <modal-vista-oferta [ofertaid]="oferta.id"></modal-vista-oferta>
                        <modal-oferta *ngIf="!(mostrarEdicion == 0)" [tipo]="'editar'" [texto]="''" [ambienteid]="oferta.ambienteid"
                         (guardarOferta)="obtenerParametrosOferta($event)" [ofertaid]="oferta.id" ></modal-oferta>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
