<div class="row">
    <div class="col-md-12">
      <ngb-tabset  [justify]="'justified'">
        <ngb-tab title="Destinatario">
          <ng-template ngbTabContent>
            <datos-destinatario-vista [destinatario]="destinatario" ></datos-destinatario-vista>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Ambiente de trabajo / Oferta">
          <ng-template ngbTabContent>
            <oferta-vista [oferta]="oferta" ></oferta-vista>
            <h2>ambiente trabajo</h2>
            <datos-ambiente-trabajo-vista [ambiente]='ambienteTrabajo'></datos-ambiente-trabajo-vista>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
</div>

<h3 class="mt-2">Área entrenamiento</h3>
<form [formGroup]="areaEntrenamientoForm" >
    <div class="row">
        <div class="form-group col-md-4">
              <label for="fecha_inicial" class="prioridad">Fecha Inicial (<span>*</span>):</label>
              <div class="input-group">
                  <input class="form-control" #c1 placeholder="dd/mm/yyyy" ngbDatepicker #faed="ngbDatepicker" id="fecha_inicial"
                      (ngModelChange)="formatFechaInicial($event)" formControlName="fechaInicial">
                  <div class="input-group-append">
                      <button class="btn btn-outline-info" (click)="faed.toggle()" type="button" [ngClass]="{'btn-outline-danger': (areaEntrenamientoForm.get('fechaInicial').invalid && submitted), 'is-invalid': (areaEntrenamientoForm.get('fechaInicial').invalid && submitted)}">
                          <span class="oi oi-calendar" title="fecha inicial" aria-hidden="true"></span>
                      </button>
                  </div>
              </div>
              <div *ngIf="(areaEntrenamientoForm.get('fechaInicial').invalid && submitted)" class="text-danger">
                  <div *ngIf="areaEntrenamientoForm.get('fechaInicial').hasError('required')">Este campo es requerido. </div>
              </div>
        </div>
        <div class="form-group col-md-4">
            <label for="plan" class="prioridad">Plan (<span>*</span>):</label>
            <select class="form-control" id="plan" formControlName="planid" [ngClass]="{'is-invalid': (areaEntrenamientoForm.get('planid').invalid && submitted)}">
                <option value="">Seleccione plan</option>
                <option *ngFor="let plan of planLista" value="{{plan.id}}">{{plan.nombre}}</option>
            </select>
            <div *ngIf="(areaEntrenamientoForm.get('planid').invalid && submitted)" class="text-danger">
                <div *ngIf="areaEntrenamientoForm.get('planid').hasError('required')">Este campo es requerido.</div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="jornada">Días y horarios:</label>
            <input class="form-control" id="jornada" formControlName="jornada">
        </div>
        <div class="col-md-6">
            <label for="tarea" class="prioridad" >Tarea (<span>*</span>):</label>
            <textarea id="tarea" rows="2" class="form-control" formControlName="tarea"></textarea>
            <div *ngIf="(areaEntrenamientoForm.get('tarea').invalid && submitted)" class="text-danger">
                <div *ngIf="areaEntrenamientoForm.get('tarea').hasError('required')">Este campo es requerido.</div>
                <div *ngIf="areaEntrenamientoForm.get('tarea').hasError('minlength')">Por favor, describa la tarea.</div>
            </div>
        </div>
        <div class="col-md-6">
          <label for="tarea">Observación:</label>
          <textarea id="tarea" rows="2" class="form-control" formControlName="observacion"></textarea>
        </div>
    </div>
    <div class="float-right" style="margin-top:5px;">
        <button class="btn btn-danger" (click)="cancelar()"><span class="oi oi-ban" title="Cancelar" aria-hidden="true"></span> Cancelar</button> &nbsp;
        <button class="btn btn-primary" (click)="volver()"><span class="oi oi-arrow-thick-left align-icon" title="atras" aria-hidden="true"></span> Atras</button> &nbsp;
        <button class="btn btn-success" (click)="validarForm()"><span class="fas fa-save" title="atras" aria-hidden="true"></span> Crear</button>
    </div>
</form>
