<h3><small class="text-muted">Datos del ambiente de trabajo</small></h3>
<fieldset [formGroup]="datosAmbienteTrabajo">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="tipo_ambiente_trabajo">Tipo ambiente de trabajo (<span>*</span>):</label>
            <select class="form-control" id="tipo_ambiente_trabajo" formControlName="tipo_ambiente_trabajoid"
             (change)="selTipo($event)" [ngClass]="{'is-invalid': (ambiente.tipo_ambiente_trabajoid.invalid && submitted)}">
                <option value="">Seleccione tipo ambiente de trabajo</option>
                <option *ngFor="let tipo of tipoAmbienteTrabajoListado" value="{{tipo.id}}">{{tipo.nombre}}</option>
            </select>
            <div *ngIf="(ambiente.tipo_ambiente_trabajoid.invalid && submitted)"
                class="text-danger">
                <div *ngIf="ambiente.tipo_ambiente_trabajoid.errors.required">Este campo es requerido. </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="nombre_ambiente">Nombre <small>{{tipoAt}}</small> (<span>*</span>):</label>
            <input type="text" id="nombre_ambiente" class="form-control" formControlName="nombre"
             placeholder="Nombre" [ngClass]="{'is-invalid': (ambiente.nombre.invalid && submitted)}">
            <div *ngIf="(ambiente.nombre.invalid && submitted)"
                class="text-danger">
                <div *ngIf="ambiente.nombre.errors.required">Este campo es requerido. </div>
                <div *ngIf="ambiente.nombre.errors.minlength">Escriba un nombre valido.</div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="cuit">Cuit (<span>*</span>):</label>
            <input type="text" id="cuit" class="form-control" formControlName="cuit" (keyup)="esCuit($event.target.value)"
             maxlength="11" placeholder="Ej.: 20335674568" [ngClass]="{'is-invalid': (ambiente.cuit.invalid && submitted)}">
            <div *ngIf="(ambiente.cuit.invalid && submitted)"
                class="text-danger">
                <div *ngIf="ambiente.cuit.errors.required">Este campo es requerido. </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="legajo">Legajo (<span>*</span>):</label>
            <input type="text" id="legajo" class="form-control" formControlName="legajo"
             placeholder="######" [ngClass]="{'is-invalid': (ambiente.legajo.invalid && submitted)}">
            <div *ngIf="(ambiente.legajo.invalid && submitted)"
                class="text-danger">
                <div *ngIf="ambiente.legajo.errors.required">Este campo es requerido. </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="actividad">Actividad que desarrolla (<span>*</span>):</label>
            <textarea class="form-control" id="actividad" rows="2" formControlName="actividad" placeholder="Definir actividad que se desarrolla...." [ngClass]="{'is-invalid': (ambiente.actividad.invalid && submitted)}"></textarea>
            <div *ngIf="(ambiente.actividad.invalid && submitted)"
                class="text-danger">
                <div *ngIf="ambiente.actividad.errors.required">Este campo es requerido. </div>
                <div *ngIf="ambiente.nombre.errors.minlength">Por favor, describa la actividad.</div>                
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="observacion">Observación:</label>
            <textarea class="form-control" id="observacion" rows="2" formControlName="observacion" placeholder="Observación o detalle del ambiente de trabajo..."></textarea>
        </div>
    </div>
    <hr class="mb-4">
    <lugar-form [group]="ambiente.lugar" [submitted]="submitted"></lugar-form>
</fieldset>